/* this is to override bootstrap and configure text */

* {
    color: #d8d8d8; !important;
}

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-color: #f4e6c7;
}

.barlow-black-italic-big {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 5rem;
}
.barlow-black-italic-small {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}

.sansation-regular {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #00171F;
}

.sansation-regular-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 1000;
    font-style: italic;
    color: #00171F;
}

.lexend-regular {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* override bootstrap */
.navbar {
    background-color: rgba(117, 117, 117, 0.14);
}